
<div class="popup">
  <div class="justifyed popup-header vertical-center">
    <div class="one-half"><span class="title">Ваша заявка принята!</span><span>В&nbsp;ближайшее время с&nbsp;вами свяжется наш администратор.</span></div>
    <div class="one-half"><img src="../img/svg/logo-blue-l.svg" alt="alt" /="/" class="popup-logo"/></div>
  </div>
  <div class="service-recommend">
    <div class="content">
      <h3>Рекомендуемые услуги</h3>
    </div>
    <div class="recommend-slider">
      <div class="recommend-slider--el"><a href="" class="one-half-vertical services-list--el">
          <figure><img src="../img/img--services-1-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Яхт-клуб</span><span>Все, что нужно владельцам яхт и&nbsp;катеров круглый год!</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-half-vertical services-list--el">
          <figure><img src="../img/img--services-2-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Свадьба за&nbsp;городом в&nbsp;Подмосковье</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-full-vertical services-list--el">
          <figure><img src="../img/img--services-3-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Корпоративные мероприятия и&nbsp;тим-билдинг</span><span>Корпоративные банкеты, фуршеты, презентации, конференции, тим-билдинг и&nbsp;даже дефиле!</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-half-vertical services-list--el">
          <figure><img src="../img/img--services-1-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Яхт-клуб</span><span>Все, что нужно владельцам яхт и&nbsp;катеров круглый год!</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-half-vertical services-list--el">
          <figure><img src="../img/img--services-2-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Свадьба за&nbsp;городом в&nbsp;Подмосковье</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-full-vertical services-list--el">
          <figure><img src="../img/img--services-3-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Корпоративные мероприятия и&nbsp;тим-билдинг</span><span>Корпоративные банкеты, фуршеты, презентации, конференции, тим-билдинг и&nbsp;даже дефиле!</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-half-vertical services-list--el">
          <figure><img src="../img/img--services-1-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Яхт-клуб</span><span>Все, что нужно владельцам яхт и&nbsp;катеров круглый год!</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-half-vertical services-list--el">
          <figure><img src="../img/img--services-2-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Свадьба за&nbsp;городом в&nbsp;Подмосковье</span></figcaption></a></div>
      <div class="recommend-slider--el"><a href="" class="one-full-vertical services-list--el">
          <figure><img src="../img/img--services-3-dop.jpg" alt="alt" /="/"/></figure>
          <figcaption><span class="services-list--el-title">Корпоративные мероприятия и&nbsp;тим-билдинг</span><span>Корпоративные банкеты, фуршеты, презентации, конференции, тим-билдинг и&nbsp;даже дефиле!</span></figcaption></a></div>
    </div>
  </div>
  <script type="text/javascript">$(function (){        $('.recommend-slider').owlCarousel({            margin: 0,            stagePadding: 60,            loop: true,   smartSpeed: 1000,         center:true,            nav: true,            dots: true,            autoplay: false,            navText: [,],            items: 5,            responsive: {                0:{                    items: 1                },                750:{                    items: 2                },                1023:{                    items: 3                },                1279:{                    items: 4                }            }        });    });</script>
</div>